.todo {
  padding: 15px;
  display: flex;
  align-items: center;
  width: 800px;
  flex-direction: column;
}

.todo__header {
  align-self: flex-start;
  font-size: 64px;
  color: #ffffff;
}

.todo__filters {
  align-self: flex-end;
}

.todo__filters_active {
  color: #4d7eea;
}

button {
  color: #ffffff;
  background: none;
  border: none;
  outline: none;

  &:active {
    color: #3b64be;
  }
}

.todo__createTodo {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 24px;
  width: 100%;
  min-width: 290px;
  max-width: 800px;
  min-height: 64px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #25273c;
}

.todo__createTodo_input {
  all: unset;
  width: 95%;
  font-size: 20px;
  color: #ffffff;
  &::placeholder {
    font-size: 20px;
    color: #7c7c7c;
  }
}
.tasks {
  width: 100%;
}
.task {
  border-radius: 8px;
  display: flex;
  align-items: center;

  margin-bottom: 8px;
  background-color: #25273c;
  width: 100%;
  min-height: 64px;
}

.task__check {
  margin-left: 5px;
  margin-right: 5px;
}

.task__text {
  word-wrap: break-word;
  max-width: 650px;
  color: #ffffff;
  font-size: 20px;
}

.task__text_completed {
  word-wrap: break-word;
  max-width: 650px;
  color: #7c7c7c;
  font-size: 20px;
  text-decoration: line-through;
}

.task__delete {
  margin-left: auto;
  margin-right: 20px;
  color: #ffffff;
}
